?@{
    Layout = null;
}
<!--住所と地理的座標を変換するAPI
    Geocoding API：AIzaSyD7ozwnLAJIabVGGhPFWi4_LkomlnKIQMY-->
<!--複数の目的地への移動時間と距離
    Distance Matrix API：AIzaSyAuTiBZpYOkHXaxXfWxxlx0idMyEwB0RNs-->
<!--複数の地点間の道順を特定します
    Directions API：AIzaSyBUe_YyArohSvfbXkhUnMyihCaBbtSQky0-->

<html>
<body>

  @using (HTML.BeginForm("result","Home",null,FormMethod.Post,new{ enctype = "multipart/form-data" })){
  <p>
    出発地：
    @Html.TextBox("originHtml", "")
  </p>
  <p>
    目的地：
    @Html.TextBox("destinationHtml", "")
  </p>
  <p>
    <input type="submit" value="検索" />
  </p>
  }

</body>
</html>
